/* .libro {
    width: 300px;
    height: 550px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

.libro img {
    width: 80%;
} */

.boton {
    width: 80%;
    height: 40px;
}

.boton:hover {
    cursor: pointer;
}

/* Estilos Cards */
.divCards {
    margin: auto;
    width: 95%;
    background: rgba(255, 255, 255, 40%);
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-columns {
    width: 90wv;
    margin: 0px auto;
}

.card {
    background: rgba(255, 255, 255, 0%);
    border: none;
    border-radius: 10px;
    margin: auto;
    width: 220px;
    height: 300px;
}

.card-body {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
}

.card-body .face {
    position: absolute;
    width: 220px;
    height: 300px;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card-body .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 0px 10px #000;
    width: 220px;
    height: 300px;
}

img {
    border-radius: 15px;
    width: 220px;
    height: 300px;
}

.card-body .front img {
    position: relative;
    width: 220px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.card-body .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 300px;
}

.card-body:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card-body:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.boton{
    border: none;
    background: yellow;
    color: black;
    border-radius: 8px;
    height: 30px;
}

.boton:hover{
    box-shadow: red 0px 0px 5px;
}

/* Fin de estilos Cars */