

<div class="divCards">
    <div class="card-colums">
        <div class="libro" class="card" *ngIf="mostrar; else Error">
            <div class="card-body">
                <div class="face font">
                    <img src="{{libro.Imagen}}">
                </div>
                <div class="face back">
                    <p>{{libro.Titulo}}</p>
                    <p>{{libro.Autor}}</p>
                    <button class="boton" (click)="descargar(libro.Titulo)">Descargar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #Error>
    <div class="centrado">
        <p class="error">Error! No se encontraron coincidencias para {{titulo}}</p>
        <img class="gif" src="https://c.tenor.com/J6lraJXFl4IAAAAC/pokemon-pikachu.gif">
    </div>
</ng-template>