<div class="p2"></div> <!-- Esta es la imagen -->
<div class="divP">
  <div class="divForm">
    <div class="div1">
      <h1>REGISTRO</h1>
      <div>
        <form [formGroup]="forma" (ngSubmit)="insertarUsuario()" class="needs-validation" novalidate>
            <div class="container">
                <!-- aqui empieza div 1 del nombre -->
                <div class="form-group row has-danger">
                    <!-- <label> class="col-2 col-form-label>">Nombre de usuario:</label>> -->
                    <div class="col-8">
                        <input class="form-control"
                                [ngClass]="{forma.controls['userName'].invalid ? 'is-invalid' :''}"
                                type="text"
                                placeholder="Nombre de Usuario"
                                formControlName="userName" [(ngModel)]="userName">
                    </div>
                        <div *ngIf="forma.controls['userName'].hasError('required')" class="invalid-feedback">
                            Campo obligatorio
                        </div>
                        <div *ngIf="forma.controls['nouserNamembre'].errors?.['minlength']" class="invalid-feedback">
                            Por lo menos tres caracteres
                        </div>
                </div>
                
                <!-- aqui empieza div 2 del correo -->
                <div class="form-group row has-danger">
                  <!-- <label> class="col-2 col-form-label>">Correo:</label>> -->
                  <div class="col-8">
                      <input class="form-control"
                              [ngClass]="{forma.controls['mail'].invalid ? 'is-invalid' :''}"
                              type="text"
                              placeholder="Correo"
                              formControlName="mail" [(ngModel)]="mail">
                  </div>
                      <div *ngIf="forma.controls['mail'].hasError('required')" class="invalid-feedback">
                          Campo obligatorio
                      </div>
                      <div *ngIf="forma.controls['mail'].hasError('email')" class="invalid-feedback">
                          Por lo menos tres caracteres
                      </div>
                </div>
    
                <!-- aqui empezamos el div 3 del telefono -->
                <div class="form-group row">
                    <!-- <label> class="col-2 col-form-label>">Telefono:</label>> -->
                    <div class="col-8">
                        <input class="form-control"
                                [ngClass]="{forma.controls['phone'].invalid ? 'is-invalid' :''}"
                                placeholder="Telefono"
                                formControlName="phone" [(ngModel)]="phone">
                    </div>
                    <div *ngIf="forma.controls['phone'].hasError('required')" class="invalid-feedback">
                        Campo obligatorio
                    </div>
                    <div *ngIf="forma.controls['phone'].hasError('hasNumber')" class="invalid-feedback">
                      Solo numeros
                  </div>
                </div>
    
                <!-- aqui empieza el div 4 del password 1 -->
                <div class="form-group row">
                    <!-- <label> class="col-2 col-form-label>"></label>> -->
                    <div class="col-8">
                        <input class="form-control"
                        [ngClass]="{forma.controls['pass_1'].invalid ? 'is-invalid' :''}"
                        type="text"
                        placeholder="Contraseña"
                        formControlName="pass_1"
                        [(ngModel)]="pass_1">          
                    </div>
                    <div *ngIf="forma.controls['pass_1'].hasError('required')" class="invalid-feedback">
                      Campo obligatorio
                  </div> 
                </div>

                <!-- aqui empieza el div 5 del password 2 -->
                <div class="form-group row">
                  <!-- <label> class="col-2 col-form-label>"></label>> -->
                  <div class="col-8">
                      <input class="form-control"
                      [ngClass]="{forma.controls['pass_2'].invalid ? 'is-invalid' :''}"
                      type="text"
                      placeholder="Confirmar contraseña"
                      formControlName="pass_2"
                      [(ngModel)]="pass_2">
                              
                  </div>
                  <div *ngIf="forma.controls['pass_2'].hasError('NoPassswordMatch')
                              || forma.controls['pass_2'].hasError('required)" class="invalid-feedback">
                      Las contraseñas no coinciden
                  </div>   
              </div>

              <!-- aqui empieza div 6 del select  -->
              <div class="form-group row">
                <!-- <label> class="col-2 col-form-label>"></label>> -->
                <div class="col-8">
                  <p>Sexo:
                    <select formControlName="sexo">
                      <option>Femenino</option>
                      <option>Masculino</option>
                      <option>Dejarlo sin definir</option>
                      </select>
                  </p>
                </div>
              </div>
    
                 <!-- aqui empieza div 7 del url -->
                 <div class="form-group row">
                  <!-- <label> class="col-2 col-form-label>"></label>> -->
                  <div class="col-8">
                      <input class="form-control"
                      [ngClass]="{forma.controls['url'].invalid ? 'is-invalid' :''}"
                      type="text"
                      placeholder="URL de tu foto"
                      formControlName="url"
                      [(ngModel)]="url">
                                 
                  </div>
                  <div *ngIf="forma.controls['url'].hasError('required')" class="invalid-feedback">
                      Campo obligatorio
                  </div>
              </div>

              <!-- aqui empieza div 8 del boton -->
                <div class="form-group row">
                    <div class="input-group col-md-8">
                        <button type="submit" (click)="insertarUsuario()" class="btn btn-warning" [disabled]="forma.invalid">Enviar </button>
                       
                    </div>
                </div>
            </div>
        </form>
    </div>
      
      <br>
      <button routerLink="/logincel">Resgitrarse con telefono</button>
    </div>
    <div class="div2">
      <img src="../../assets/Login/SubLogo2.png" class="imgTipe">
    </div>
  </div>
</div>
