<div class="p2"></div> <!-- Esta es la imagen -->
<div class="divP">
  <div class="divForm">
    <div class="div1">
      <h1>REGISTRO</h1>
      <form class="Form">
        <div class="form_box">
          <input type="text" class="form_input" placeholder=" " [(ngModel)]="mail">
          <label class="form_label">Correo:</label>
        </div>
        <div class="form_box">
          <input type="text" class="form_input" placeholder=" " [(ngModel)]="phone">
          <label class="form_label">Numero de Telefono:</label>
        </div>
        <div class="form_box">
          <input type="text" class="form_input" placeholder=" " [(ngModel)]="password">
          <label class="form_label">Contraseña:</label>
        </div>
        <div class="form_box">
          <input type="text" class="form_input" placeholder=" " [(ngModel)]="userName">
          <label class="form_label">Nombre de Usuario: </label>
        </div>
        <div class="form_box">
          <input type="text" class="form_input" [(ngModel)]="url" placeholder=" ">
          <label class="form_label">Foto URL: </label>
        </div>
        <button class="btn btn-primary btn-block" (click)="insertarUsuario()">Registrar</button>
        <button class="btn btn-primary btn-block" routerLink="/logincel">Resgitrarse con telefono</button>
      </form>
    </div>
    <div class="div2">
      <img src="../../assets/Login/SubLogo2.png" class="imgTipe">
    </div>
  </div>
</div>