<div class="divImg"></div>
<div class="principal">
    <div class="formm">
        <div class="s1">
            <h1>LOGIN CELULAR</h1>
            <form>
                <div class="ss1">
                    <label for="phone">Telefono</label><br>
                    <input type="text" [(ngModel)]="telefono" placeholder="Telefono"  class="input"><br><br>
                    <div id="recaptcha-container"></div>
                    <button (click)="sendLoginCode()">Enviar Código</button><br>
                </div>
                <div class="ss2" *ngIf="windowRef.confirmationResult">
                    <h4>Introducir Codigo</h4>
                    <label for="code">Codigo que llego por telefono</label>
                    <input type="text" name="code" [(ngModel)]="codigoVerif"><br><br>
                    <button (click)="verifyLoginCode()">Ingresar</button>
                </div>
            </form>  
        </div>
        <div class="s2">
            <img src="../../assets/Login/Telefono.png">
        </div>
    </div>
</div>
