<div class="divImg"></div>
<div class="principal">
    <div class="formm">
        <div class="s1">
            <h1>LOGIN CELULAR</h1>
            <form>
                <div class="ss1">
                    <div class="form_box">
                        <input type="text" [(ngModel)]="telefono" placeholder=" " class="form_input">
                        <label class="form_label" for="phone">Telefono</label><br>
                        
                    </div>
                    <div id="recaptcha-container"></div>
                    <button (click)="sendLoginCode()"  class="button">Enviar Código</button><br>
                </div>
                <div class="ss2" *ngIf="windowRef.confirmationResult">
                    <h4>Introducir Codigo</h4>
                    <div class="form_box">
                        <input class="form_input" type="text" name="code" [(ngModel)]="codigoVerif">
                        <label for="code" class="form_label">Codigo que llego por telefono</label>
                    </div>
                    <button (click)="verifyLoginCode()" class="button">Ingresar</button>
                </div>
            </form>
        </div>
        <div class="s2">
            <img src="../../assets/Login/Telefono.png">
        </div>
    </div>
</div>

<ngx-spinner>
    <div class="loadingio-spinner-interwind-6lqxuekrkqu">
      <div class="ldio-am2mjrfupr9">
        <div>
          <div>
            <div>
              <div></div>
            </div>
          </div>
          <div>
            <div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style type="text/css">
      @keyframes ldio-am2mjrfupr9-r {
  
        0%,
        100% {
          animation-timing-function: cubic-bezier(0.2 0 0.8 0.8)
        }
  
        50% {
          animation-timing-function: cubic-bezier(0.2 0.2 0.8 1)
        }
  
        0% {
          transform: rotate(0deg)
        }
  
        50% {
          transform: rotate(180deg)
        }
  
        100% {
          transform: rotate(360deg)
        }
      }
  
      @keyframes ldio-am2mjrfupr9-s {
  
        0%,
        100% {
          animation-timing-function: cubic-bezier(0.2 0 0.8 0.8)
        }
  
        50% {
          animation-timing-function: cubic-bezier(0.2 0.2 0.8 1)
        }
  
        0% {
          transform: translate(-81.4px, -81.4px) scale(0)
        }
  
        50% {
          transform: translate(-81.4px, -81.4px) scale(1)
        }
  
        100% {
          transform: translate(-81.4px, -81.4px) scale(0)
        }
      }
  
      .ldio-am2mjrfupr9>div {
        transform: translate(0px, -40.7px)
      }
  
      .ldio-am2mjrfupr9>div>div {
        animation: ldio-am2mjrfupr9-r 0.9345794392523364s linear infinite;
        transform-origin: 203.5px 203.5px;
      }
  
      .ldio-am2mjrfupr9>div>div>div {
        position: absolute;
        transform: translate(203.5px, 154.66000000000003px);
      }
  
      .ldio-am2mjrfupr9>div>div>div>div {
        width: 162.8px;
        height: 162.8px;
        border-radius: 50%;
        background: #fe718d;
        animation: ldio-am2mjrfupr9-s 0.9345794392523364s linear infinite;
      }
  
      .ldio-am2mjrfupr9>div>div:last-child {
        animation-delay: -0.4672897196261682s;
      }
  
      .ldio-am2mjrfupr9>div>div:last-child>div>div {
        animation-delay: -0.4672897196261682s;
        background: #46dff0;
      }
  
      .loadingio-spinner-interwind-6lqxuekrkqu {
        width: 407px;
        height: 407px;
        display: inline-block;
        overflow: hidden;
        background: none;
      }
  
      .ldio-am2mjrfupr9 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0;
        /* see note above */
      }
  
      .ldio-am2mjrfupr9 div {
        box-sizing: content-box;
      }
  
      /* generated by https://loading.io/ */
    </style>
  </ngx-spinner>