<div class="divImg"></div>
<div class="principal">
    <div class="formm">
        <div class="s1">
            <h1>LOGIN CELULAR</h1>
            <form>
                <div class="ss1">
                    <label for="">Telefono</label><br>
                    <input type="number" placeholder="Telefono"><br><br>
                    <button>Enviar codigo</button><br>
                </div>
                <div class="ss2">
                    <h4>Introducir Codigo</h4>
                    <label for="">Codigo que llego por telefono</label>
                    <input type="number"><br><br>
                    <button>Ingresar</button>
                </div>
            </form>  
        </div>
        <div class="s2">
            <img src="../../assets/Login/Telefono.png">
        </div>
    </div>
</div>