.divP {
    /* background: url("../../assets/Login/Fondo3.jpeg"); */
    width: 100%;
    height: 564px;
    display: flex;
    position: absolute;
    background-size: cover;
    filter: blur(40px);
}
#accesibilidad{
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.divForm {
    height: 500px;
    width: 80%;
    height: 450px;
    margin: 0px auto;
    background: rgba(255, 255, 255, 40%);
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "div1 div1 div2";
    border-radius: 15px;
    border-style: solid;
    border-color: white;
}

.divForm .div1 {
    grid-area: div1;
    height: 100%;
    width: 80%;
    border-radius: 15px;
    text-align: center;
    margin: 0px auto;
}

.divForm .div2 {
    grid-area: div2;
    background: white;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 445px;
}

#img {
    width: 30vw;
}

form {

    margin-top: -40px;
}

/* Estilos Input */
.form_input {
    display: block;
    margin-bottom: 2rem;
    padding: .5rem 2rem;
    border-radius: 5px;
    border: 0;
    outline: solid 2px white;
    height: 32px;
    width: 100%;
}

.form_label {
    position: absolute;
    top: 20px;
    left: 2rem;
    background: white;
    padding: 0 .5rem;
    height: 25px;
    font-size: 15px;
    border-radius: 5px;
}

.form_box {
    position: relative;
    padding: 1rem;
    
}

.form_input:focus{
    outline: solid 2px rgb(47, 143, 157);
    box-shadow: blue 0px 0px 8px;
}

.form_input:focus+.form_label {
    transform: translateY(-1.2rem );
    transition: .5s;
}

.form_input:not(:placeholder-shown)+.form_label{
    transform: translateY(-1.2rem);
    
}

/* Fin de Estilos Input */

@media only screen and (max-width: 630px) {
    #button {
        width: 100%;
    }

    .divForm {
        grid-template-columns: 1fr;
        grid-template-areas: "div1";
    }

    .div1{
        width: 90%;
        margin: 0px auto;
    }

    .div2 {
        display: none;
    }

    #img {
        display: none;
    }
}
