.divP{
    background: url("../../assets/Login/Fondo3.jpeg");
    width: 100%;
    height: 564px;
    display: flex;
    position: absolute;
    background-size: cover;
    filter: blur(40px);
}

.divForm{
    height: 500px;
    width: 80%;
    height: 450px;
    margin: 0px auto;
    background: rgba(255,255,255,40%);
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "div1 div1 div2";
    border-radius: 15px;
    border-style: solid;
    border-color: white;
}

.divForm .div1{
    grid-area: div1;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    width: 45%;
    text-align: center;
    margin: 0px auto;
}

.divForm .div2{
    grid-area: div2;
    background: white;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    border-radius: 50px;
    border-color: white;
}

button{
    border-radius: 20px;
}

img{
    width: 350px;
    
}