<div class="imagen"></div>

<div class="principal">
    <form class="formm">
        <div class="ppp">
            <div class="s1">
                <div class="ss1">
                    <label for="">Correo de usuario</label><br>
                    <input type="text"><br><br>
                    <button>Hacer admin</button>
                </div>
            </div>
            <div class="s2">
                <img src="../../assets/Login/user.png" alt="">
            </div>
        </div>
    </form>
</div>