<div class="elementos">
    <input type="text" class="buscador" #busqueda (keyup.enter)="buscarLibro(busqueda.value)">
    <button class="elemento" (click)="buscarLibro(busqueda.value)">Buscar</button>
    <select #filtro class="elemento" (change)="cambioOpcion(filtro.value)">
        <option>All</option>
        <option>Dark Humor</option>
        <option>Fantasy</option>
        <option>Romance</option>
        <option>Science Fiction</option>
        <option>Terror</option>
        <option>Thriller</option>
    </select>
</div>


<!-- Aqui inicia el card -->
<div class="divCards">
    <div class="card-columns">
        <div [ngSwitch]="opcion">
            <div *ngSwitchCase="'All'">
                <div class="card" *ngFor="let libro of libros">
                    <div class="card-body">
                        <div class="face font">
                            <img src="{{libro.Imagen}}">
                        </div>
                        <div class="face back">
                            <p>{{libro.Titulo}}</p>
                            <p>{{libro.Autor}}</p>
                            <button class="boton" (click)="descargar(libro.Titulo)">Descargar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor-libros" *ngSwitchCase="'Dark Humor'">
                <div *ngFor="let libro of libros">
                    <div class="libro" *ngIf="libro.Genero == 'Dark Humor'">
                        <img src="{{libro.Imagen}}">
                        <p>{{libro.Titulo}}</p>
                        <p>{{libro.Autor}}</p>
                        <button class="boton" (click)="descargar(libro.Titulo)">Descargar</button>
                    </div>
                </div>
            </div>
            <div class="contenedor-libros" *ngSwitchCase="'Fantasy'">
                <div *ngFor="let libro of libros">
                    <div class="libro" *ngIf="libro.Genero == 'Fantasy'">
                        <img src="{{libro.Imagen}}">
                        <p>{{libro.Titulo}}</p>
                        <p>{{libro.Autor}}</p>
                        <button class="boton" (click)="descargar(libro.Titulo)">Descargar</button>
                    </div>
                </div>
            </div>
            <div class="contenedor-libros" *ngSwitchCase="'Romance'">
                <div *ngFor="let libro of libros">
                    <div class="libro" *ngIf="libro.Genero == 'Romance'">
                        <img src="{{libro.Imagen}}">
                        <p>{{libro.Titulo}}</p>
                        <p>{{libro.Autor}}</p>
                        <button class="boton" (click)="descargar(libro.Titulo)">Descargar</button>
                    </div>
                </div>
            </div>
            <div class="contenedor-libros" *ngSwitchCase="'Science Fiction'">
                <div *ngFor="let libro of libros">
                    <div class="libro" *ngIf="libro.Genero == 'Science Fiction'">
                        <img src="{{libro.Imagen}}">
                        <p>{{libro.Titulo}}</p>
                        <p>{{libro.Autor}}</p>
                        <button class="boton" (click)="descargar(libro.Titulo)">Descargar</button>
                    </div>
                </div>
            </div>
            <div class="contenedor-libros" *ngSwitchCase="'Terror'">
                <div *ngFor="let libro of libros">
                    <div class="libro" *ngIf="libro.Genero == 'Terror'">
                        <img src="{{libro.Imagen}}">
                        <p>{{libro.Titulo}}</p>
                        <p>{{libro.Autor}}</p>
                        <button class="boton" (click)="descargar(libro.Titulo)">Descargar</button>
                    </div>
                </div>
            </div>
            <div class="contenedor-libros" *ngSwitchCase="'Thriller'">
                <div *ngFor="let libro of libros">
                    <div class="libro" *ngIf="libro.Genero == 'Thriller'">
                        <img src="{{libro.Imagen}}">
                        <p>{{libro.Titulo}}</p>
                        <p>{{libro.Autor}}</p>
                        <button class="boton" (click)="descargar(libro.Titulo)">Descargar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>