/* You can add global styles to this file, and also import other style files */
.carga{
    margin: 250px auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}