<ul class="nav nav-tabs">
  <li class="nav-item">
    <a routerLink="/inicio" class="nav-link active">Inicio</a>
  </li>
  <li class="nav-item" *ngIf="userLogged|async as user">
    <a *ngIf="user.emailVerified" routerLink="/incersionLibros" class="nav-link active">Insercion Libros</a>
  </li>
  <li class="nav-item" *ngIf="userLogged|async as user">
    <a *ngIf="user.emailVerified" routerLink="/actusu" class="nav-link active">Crear admin</a>
  </li>
  <li class="nav-item" *ngIf="userLogged|async as user">
    <a routerLink="/libros" class="nav-link active">Libros</a>
  </li>
  <li class="nav-item">
    <a routerLink="/contacto" class="nav-link active">Contacto</a>
  </li>
  <li class="nav-item">
    <a routerLink="/ayuda" class="nav-link active">Ayuda</a>
  </li>
  <li class="nav-item">
    <a routerLink="/login" class="nav-link active">Login</a>
  </li>
  <li class="nav-item" *ngIf="userLogged|async as user">
    <img style="border-radius: 100%" *ngIf="user.photoURL" src="{{user.photoURL}}" 
      alt="" width="30" height="30" class="d-inline-block alignt-top">
    {{user.displayName | uppercase}}
  </li>
</ul>

<!-- <button *ngIf="userLogged|async as user" (click)="cambiarAccesibilidad({{user.uid}})"></button> -->

<router-outlet></router-outlet>

