<div [ngStyle]="accesib.presentacion">
  <div class="containerr">
    <div class="custom-shape-divider-bottom-1655485068" style="background:url('{{accesib.img0}}') ;">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25" class="shape-fill"></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5" class="shape-fill"></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <!-- 
  <div class="container" style="background:url('{{accesib.img0}}') ;"></div> -->

  <div class="info1">
    <div class="info container">
      <p class="h1">Bienvenido </p>
      <p class="h2">Esta sección tiene el objetivo de darte consejos e instrucciones de conseguir libros con nosotros.
      </p>
      <div class="card mb-3" style="max-width: 820px;">
        <div class="row no-gutters">
          <div class="col-md-auto">
            <img src="../../assets/Ayuda/login.png" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Inicia Sesión </h5>
              <p class="card-text">Sino has creado una cuenta puedes hacerlo de muchas maneras posibles.</p>
              <p class="card-text"><small class="text-muted">Da click a la pestaña de Login</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 ml-auto" style="max-width: 820px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Tu cuenta</h5>
              <p class="card-text">Cuando hayas entrado a tu cuenta, en la barra de navegación verás la pestana de
                Libros
              </p>
              <p class="card-text"><small class="text-muted">Da click en Libros para acceder a nuestro gran
                  catálogo.</small></p>
            </div>
          </div>
          <div class="col-md-auto">
            <img src="../../assets/Ayuda/cuenta.png" alt="...">
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 820px;">
        <div class="row no-gutters">
          <div class="col-md-auto">
            <img src="../../assets/Ayuda/descarga.png" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">¡Descárgalo!</h5>
              <p class="card-text">Si encontraste el libro que buscabas, da click en Descargar</p>
              <p class="card-text"><small class="text-muted">Escanea el código QR y listo.</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 ml-auto" style="max-width: 820px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">¿Problemas con la vista?</h5>
              <p class="card-text">Recuerda que esta página tiene herramientas para aquellos con debilidad visual.</p>
              <p class="card-text"><small class="text-muted">Da click en el ícono ubicado en la esquina inferior
                  izquierda.</small></p>
            </div>
          </div>
          <div class="col-md-auto">
            <img src="../../assets/Ayuda/accesibilidad.png" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>



  <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" id="accesibilidad">
    <img src="{{accesib.icono}}" alt="" srcset="">
  </button>
  <!-- Modal -->
  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-{{accesib.bootstrap}} text-{{accesib.b_color}}">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Accesibilidad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row container">
              <label for="formControlRange">Tamaño de Letra</label>
              <input type="range" class="custom-range" value={{accesib.tamano}} min="7" max="60" id="customRange2"
                (change)="accesib.cambiarTamano($event)">
            </div>
            <div class="form-group row mx-sm-3">
              <label for="inputPassword" class="col-sm-2 col-form-label">Fondo</label>
              <select class="form-control" id="Fondo_select" (change)="accesib.cambiarFondo($event)">
                <option value="">Elige una opción</option>
                <option>Normal</option>
                <option>Escala de Grises</option>
                <option>Alto Contraste</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner>
  <div class="loadingio-spinner-interwind-6lqxuekrkqu">
    <div class="ldio-am2mjrfupr9">
      <div>
        <div>
          <div>
            <div></div>
          </div>
        </div>
        <div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style type="text/css">
    @keyframes ldio-am2mjrfupr9-r {

      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2 0 0.8 0.8)
      }

      50% {
        animation-timing-function: cubic-bezier(0.2 0.2 0.8 1)
      }

      0% {
        transform: rotate(0deg)
      }

      50% {
        transform: rotate(180deg)
      }

      100% {
        transform: rotate(360deg)
      }
    }

    @keyframes ldio-am2mjrfupr9-s {

      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2 0 0.8 0.8)
      }

      50% {
        animation-timing-function: cubic-bezier(0.2 0.2 0.8 1)
      }

      0% {
        transform: translate(-81.4px, -81.4px) scale(0)
      }

      50% {
        transform: translate(-81.4px, -81.4px) scale(1)
      }

      100% {
        transform: translate(-81.4px, -81.4px) scale(0)
      }
    }

    .ldio-am2mjrfupr9>div {
      transform: translate(0px, -40.7px)
    }

    .ldio-am2mjrfupr9>div>div {
      animation: ldio-am2mjrfupr9-r 0.9345794392523364s linear infinite;
      transform-origin: 203.5px 203.5px;
    }

    .ldio-am2mjrfupr9>div>div>div {
      position: absolute;
      transform: translate(203.5px, 154.66000000000003px);
    }

    .ldio-am2mjrfupr9>div>div>div>div {
      width: 162.8px;
      height: 162.8px;
      border-radius: 50%;
      background: #fe718d;
      animation: ldio-am2mjrfupr9-s 0.9345794392523364s linear infinite;
    }

    .ldio-am2mjrfupr9>div>div:last-child {
      animation-delay: -0.4672897196261682s;
    }

    .ldio-am2mjrfupr9>div>div:last-child>div>div {
      animation-delay: -0.4672897196261682s;
      background: #46dff0;
    }

    .loadingio-spinner-interwind-6lqxuekrkqu {
      width: 407px;
      height: 407px;
      display: inline-block;
      overflow: hidden;
      background: none;
    }

    .ldio-am2mjrfupr9 {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0;
      /* see note above */
    }

    .ldio-am2mjrfupr9 div {
      box-sizing: content-box;
    }

    /* generated by https://loading.io/ */
  </style>
</ngx-spinner>