<div [ngStyle]="accesib.presentacion">
  
  <div class="divP" style="background:url('{{accesib.img0}}') ;"></div>
  <div class="info container" >
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      </div>
      <div class="col-md-auto">
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{{accesib.img1}}" alt="" srcset="">
      </div>
      <div class="col-md-auto"><br><br>
        <h1>La Biblioteca de Babel</h1><br>
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;El que se acuesta leyendo, se levanta sabiendo</h2>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
</div>

<div class="carrusel" >
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/Inicio/carrusel_0.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/Inicio/carrusel_1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/Inicio/carrusel_3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</div>

  <footer >
    <div class="wave" style="fill:{{accesib.footer}}">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="wave-fill" style="fill:{{accesib.footer}}"></path>
      </svg>
  </div>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2"><br>About<br>
          <a routerLink="/contacto"  style="color: {{accesib.nav_letra}};">Contacto</a><br>
          <a routerLink="/ayuda"  style="color: {{accesib.nav_letra}};">Ayuda</a>
        </div>
        <div class="col-md-auto">Redes Sociales <br>
          <div style="color: {{accesib.nav_letra}};">
            
          <img src="{{accesib.redes0}}" alt="..."> Gmail<br>
          <img src="{{accesib.redes1}}" alt="..."> Twitter<br>
          <img src="{{accesib.redes2}}" alt="..."> Instagram<br>
        </div>
        </div>
        <div class="col col-lg-2"><img src="{{accesib.f_logo}}" alt="..."><br>
          <div style="color: {{accesib.nav_letra}};">Copyright &#169; 2022</div>
        </div>
    </div>
      </div>
  </footer>
  <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" id="accesibilidad"><img src="{{accesib.icono}}"  alt="" srcset=""></button>  
  <!-- Modal -->
  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-{{accesib.bootstrap}} text-{{accesib.b_color}}">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Accesibilidad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row container">
              <label for="formControlRange">Tamaño de Letra</label>
              <input type="range" class="custom-range" value={{accesib.tamano}} min="7" max="60" id="customRange2" (change)="accesib.cambiarTamano($event)">
            </div>
            <div class="form-group row mx-sm-3">
              <label for="inputPassword" class="col-sm-2 col-form-label">Fondo</label>
              <select class="form-control" id="Fondo_select" (change)="accesib.cambiarFondo($event)">
                <option value="">Elige una opción</option>
                <option>Normal</option>
                <option>Escala de Grises</option>
                <option>Alto Contraste</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>  