<h1>ENVÍANOS TUS COMENTARIOS</h1>
<h3>¡NOS INTERESA MUCHO TU OPINIÓN!</h3>
<div>
    <form [formGroup]="forma" (ngSubmit)="enviarCorreo()" class="needs-validation" novalidate>
        <div class="container">
            <!-- aqui empieza div 1 del nombre -->
            <div class="form-group row has-danger">
                <!-- <label> class="col-2 col-form-label>">Nombre:</label>> -->
                <div class="col-8">
                    <input class="form-control"
                            [ngClass]="{'is-invalid':!forma.get('nombre')?.valid}"
                            type="text"
                            placeholder="Nombre"
                            formControlName="nombre" [(ngModel)]="nombre">
                
                    <div *ngIf="forma.controls['nombre'].errors?.['required']" class="invalid-feedback">
                        El nombre es necesario
                    </div>
                    <div *ngIf="forma.controls['nombre'].errors?.['minlength']" class="invalid-feedback">
                        Por lo menos tres caracteres
                    </div>
                </div>
            </div>

            <!-- aqui empezamos el div 2 del apellido -->
            <div class="form-group row">
                <!-- <label> class="col-2 col-form-label>">Apellido:</label>> -->
                <div class="col-8">
                    <input class="form-control"
                            type="text"
                            placeholder="Apellido"
                            formControlName="Apellido" [(ngModel)]="apellido">
                </div>
                <div *ngIf="forma.controls['nombre'].errors?.['required']" class="invalid-feedback">
                    El Apellido es necesario
                </div>
            </div>

            <!-- aqui empieza el div 3 del correo -->
            <div class="form-group row">
                <!-- <label> class="col-2 col-form-label>">Correo</label>> -->
                <div class="col-8">
                    <input class="form-control"
                    [ngClass]="{'is-invalid':!forma.get('correo')?.valid}"
                    type="text"
                    placeholder="Correo electronico"
                    formControlName="correo">
                    <div *ngIf="forma.controls['correo'].errors?.['required']" class="invalid-feedback">
                    Correo obligatorio
                    </div>
                    <div *ngIf="forma.controls['correo'].errors?.['email']" class="invalid-feedback">
                    El correo no tiene el formato correcto
                    </div>           
                </div>
            </div>

             <!-- aqui empieza div 5 del asunto -->
            <div class="contain">
                <div class=".margencito">
                    <input type="radio" id="queja" name="asunto" value="Queja">
                    <label for="queja">Queja</label>
                </div>
                <div class=".margencito">
                    <input type="radio" id="duda" name="asunto" value="Duda">
                    <label for="duda">Duda</label>                   
                </div>  
                <div class=".margencito">
                    <input type="radio" id="negocio" name="asunto" value="Negocio">
                    <label for="negocio">Negocio</label>                  
                </div>   

                <div *ngIf="forma.controls['correo'].errors?.['required']" class="invalid-feedback">
                    Asunto obligatorio
                </div>
            </div>

            <!-- aqui empieza div 4 del mensaje -->
            <div class="form-group row">
                <!-- <label> class="col-2 col-form-label>">Mensaje</label>> -->
                <textarea class="form-control" cols="15" rows="7" placeholder="Mensaje..." formControlName="mensaje" [(ngModel)]="mensaje"></textarea>
            </div>

            <!-- aqui empieza div 6 del boton -->
            <div class="form-group row">
                <div class="input-group col-md-8">
                    <button type="submit" (click)="enviarCorreo()" class="btn btn-warning" [disabled]="forma.invalid">Enviar </button>
                </div>
            </div>
        </div>
    </form>
</div>
